$white: #fff;
$background: #002664;
$backgroundAbs: rgb(0, 38, 100, .85);
$buttonAuth: #4d7bca;
$button: #19b45a;
$primary-black: #000;
$secondary-black: #202020;
$title: #555;
$h2: #434343;
$greybg: #eaeaea;
$greybg_second: #d7d7d7;
$accept: #f0dc33;
$green: #19a129;