.form {
    padding: 45px 61px 43px 60px;
    background-color: #dddee0;
    width: 30%;
    margin: 130px auto 130px;
}
.title {
    color: #555;
    font-size: 26px;
    text-align: center;
    margin-bottom: 27px;
}
.button {
    width: 100%;
    padding: 7px;
}
.form_content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.forgot {
    color: #434343;
    font-size: 14px;
}