@import '../assets/scss/variables.scss';

.main {
    background: url('../assets/images/bg.jpg') no-repeat 100% 100%;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    padding-top: 136px;
    padding-bottom: 99px;
}
.main__title {
    text-transform: uppercase;
    color: #fff;
}
.main_content {
    display: grid;
    grid-template-columns: min-content max-content;
    justify-content: space-between;
}

.button {
    padding: 7px 91px;
}
.about {
    padding-top: 71px;
    padding-bottom: 86px;
}
.about_content {
    display: flex;
    gap: 13px;
}
.secondary__title {
    font-size: 30px;
    font-weight: 700;
    color: #002664;
    margin-bottom: 41px;
}
.paragraph {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}
.howitworks {
    background-color: #e9e9e9;
    padding-top: 64px;
    padding-bottom: 183px;
}
.howitworks_circles {
    display: flex;
    align-items: center;
}
.partners_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.circle {
    background-color: #002664;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: #f9f9f9;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.strip {
    width: 200px;
    height: 5px;
    background-color: #8fa8d1;
}
.box_content {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    margin-top: 19px;
    line-height: 1;
    position: absolute;
    width: 220px;
    top: 100%;
    left: 0;
}

@media (max-width: 1041px) {
    .main_content {
        display: flex;
        flex-wrap: wrap;
    }
    .about_content {
        flex-wrap: wrap;
    }
    .strip {
        display: none;
    }
    .howitworks_circles {
        flex-direction: column;
        align-items: start;
        row-gap: 40px;
    }
    .box_content {
        margin-top: 0;
        top: 0;
        left: 120%;
    }
    .partners_content {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .main__title {
        font-size: 28px;
    }
}