@import '../../assets/scss/variables.scss';

.header {
    background-color: $background;
    width: 100%;
}
.header_absolute {
    position: absolute;
    background-color: $backgroundAbs;
}
.nav {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
}
.routes {
    color: #fff;
}
.margin {
    display: flex;
    gap: 30px;
}